@import "src/styles/variables";

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(38, 50, 56, 0.32);
    z-index: 1;
  }
}

.info {
  text-align: center;
  width: 704px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  background: #ffffff;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06),
    2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 20px;
  padding: 32px;
  z-index: 2;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: $darkColor;
  margin-bottom: 43px;
}
